<!-- *****************************************************************************************************************
FOOTER
***************************************************************************************************************** -->
<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>About</h4>
        <div class="hline-w"></div>
        <p>Creado para calcular la nota para la materia Fármaco y practicar Rails</p>
      </div>
      <div class="col-lg-4">
        <h4>Creado por</h4>
        <div class="hline-w"></div>
        <p>Tovar</p>
      </div>
      <div class="col-lg-4">
        <h4>Agradecimientos</h4>
        <div class="hline-w"></div>
        <p>Para Paula y Niko</p>
      </div>
    </div><! --/row -->
  </div><! --/container -->
</div><! --/footerwrap -->
